*{
    margin: 0;
    max-width: 200vw;
  }
  header{
    background-color:#dcdcdcbb;
    height:270px ;
  }
  main{
    height: 500px;
     background-color: black;
     background-image: url(joaquimfundo.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: left center;
   }
  section{
    background-color:#dcdcdcbb;
    height: 550px;
  }
 
  
  
  #divpai{
   padding-left: 80px;
 
 
 }
 #imagem{
  
  position: absolute;
  height: 60px;
  margin-top: -230px;
   margin-left: 130px;
  margin-right: 400px;
  z-index: 4;
  top: 240px;
  left: 0px;
  border-radius: 2px;
 
 }
 div#div1{
 
   background-color:white;
  height: 230px;
  width: 220px;
  margin-left: 39px;
  border-radius: 10px 10px 20px 23px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.398);
 }
 div#quadrado{
  position: relative;
   background-color: white;
  height: 160px;
  width: 190px;
  margin-left: 47px;
  margin-top: -105px;
  border-radius: 30px 14px 10px 50px;
  z-index: 2;
  transform: rotate(45deg);

 }
 nav{
  margin-left: 500px;
  margin-top: -280px;
  
  
 }
 nav >div#tel{
  color: blue;
  font-size: 1.5em;
  margin-left: -90px;
  margin-top: 1%;
 }
 nav>div#links1 a{
   text-decoration: none;
   color: orangered;
   font-size: 1.5em;
   padding-left: 40px;
   margin-left: 80px;
   }
 #links1 a:hover{
  text-decoration: underline;
 }
 div#links1{
  margin-left: 45px;
  margin-top: -20px;
 }
 div#links1 ul{
  list-style-type: none;
 }
 div#links1 li{
  display: inline-block;
  background: url();
 }

   .lupa{
    color: blue;
    margin-left: 755px;
    font-size: 25px;
    margin-top: -25px;
   }

   #links2 a:hover{
    background-color: rgb(149, 149, 255);
    color: rgb(41, 41, 255);
    width: 29px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px black;
    
   }
   #links2 li:hover{
    transform: translate(-2px, -2px);
    transition-duration: .5s;
    
   }

   #links2{
    
    padding-left: px;
    margin-top:43px;
   }
   #links2 ul{
    list-style-type: none;
    
   }
   #links2 li{
           display: inline-block;
           padding-left: 30px;
   }
   #links2 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
   }
   #conteiner{
    margin-left: 880px;
    margin-top: 39.2px;
    background-color: white;
    width: 440px;
    height: 110px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.400); ;
   }
   #subconteiner img{
    
    float: inline-start;
    padding-left:90px ;
    
   }
   #subconteiner a{
    z-index: 3;
     
   }
   #imgei{
    padding-top: 20px;
    margin-left: -75px;
   }
   #ei{
    margin-left: -30px;
    padding-top: 30px;
    
   }
   #ei a{
    padding-left: 5px;
    font-size: 20px;
    text-decoration: none;
    
   }

   #imgef{
    margin-top: -85px;
   }
   #imgef img{
    height: 85px;
   }
   #ef{
    padding-top: 36px;
   }
   #ef a{
       text-decoration: none;
       font-size: 17px;
       padding-left: 5px;
   }
   #imgem{
    margin-top: -60px;
   }
   #imgem img{
    height: 85px;
   }
   #em{
    padding-top: 20px;
   }
   #em a{
    font-size: 17px;
    text-decoration: none;
    padding-left: 5px;
   }
  
#news{
  
  margin-left: 9%;
   margin-top: 70px;
}
#news i{
  color: #898fff;
  padding-right: 3%;
}

#news p{
  color:#6f77ff;
  font-size: 2.2em;
  margin-top: 20px;
  
}












div#imagemnews{
  background-color: black;
  background-image: url(culturadoPR2.png);
 background-size: cover ;
  background-position: top center;
  width: 300px;
  height: 200px;
  
}

#conteinernews{
  margin-top: 4%;
  margin-left: 10%;
  width: 300px;
  height: 360px;
  background-color: white;
  border: 5px solid white;
  border-radius: 5.5px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.556);
}
#conteinernews>p{
  padding-top: 5%;
  padding-left: 6%;
  color: black;
  text-align: center;
  font-size: 19px;

}
div#titulo{
  margin-top: -3%;
  margin-left: 9%;
  background-color: rgb(83, 83, 255);
  width: 83%;
  border-radius: 5px;

}
div#titulo a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
   color: white;
   text-decoration: none;
   padding-left: 35%;
  
  }
  div#saimais{
      background-color: rgb(83, 83, 255);
      margin-left: 20%;
      margin-top: 30px;
      width: 60%;
      height: 9%;
      padding-top: 3%;
      border-radius: 20px;

  }
  div#saimais a{
      
      padding-left: 25%;
      font-size: 1.2em;
      text-decoration: none;
      color: white;
  }

  



  div#imagem2{
      background-color: black;
      background-image: url(assembleia2.png);
      background-size: cover ;
      background-position: top center;
      width: 300px;
      height: 200px;
      
  }
  
  #conteinernews2{
      margin-top: -27.7%;
      margin-left: 40%;
      width: 300px;
      height: 360px;
      background-color: white;
      border: 5px solid white;
      border-radius: 5.5px;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.556);
  }
  #conteinernews2>p{
      padding-top: 5%;
      padding-left: 6%;
      color: black;
      text-align: center;
      font-size: 19px;
  
  }
  div#titulo2{
      margin-top: -3%;
      margin-left: 9%;
      background-color: rgb(83, 83, 255);
      width: 83%;
      border-radius: 5px;
  
  }
  div#titulo2 a{
    font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
       color: white;
       text-decoration: none;
       padding-left: 35%;
      }
      div#saimais2{
          background-color: rgb(83, 83, 255);
          margin-left: 20%;
          margin-top: 30px;
          width: 60%;
          height: 9%;
          padding-top: 3%;
          border-radius: 20px;
  
      }
      div#saimais2 a{
          
          padding-left: 25%;
          font-size: 1.2em;
          text-decoration: none;
          color: white;
      }




      div#imagem3{
          background-color: black;
          background-image: url(projetoinf2.jpg);
          background-size: cover ;
          background-position: top center;
          width: 300px;
          height: 200px;
          
      }
      
      #conteinernews3{
          
          margin-left: 70%;
          margin-top: -27.2%;
          width: 300px;
          height: 360px;
          background-color: white;
          border: 5px solid white;
          border-radius: 5.5px;
          box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.556);
      }
      #conteinernews3>p{
        font-size: 19px;
          padding-top: 5%;
          padding-left: 6%;
          color: black;
          text-align: center;
      
      }
      div#titulo3{
          margin-top: -3%;
          margin-left: 9%;
          background-color: rgb(202, 131, 0);
          width: 83%;
          border-radius: 5px;
      
      }
      div#titulo3 a{
        font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2em;
           color: white;
           text-decoration: none;
           padding-left:10%;
          }
          div#saimais3{
              background-color: rgb(202, 131, 0);
              margin-left: 20%;
              margin-top: 50px;
              width: 60%;
              height: 9%;
              padding-top: 3%;
              border-radius: 20px;
      
          }
          div#saimais3 a{
              
              padding-left: 25%;
              font-size: 1.2em;
              text-decoration: none;
              color: white;
          }

          footer h1{
            color:  rgb(83, 83, 255) ;
            margin-left:10%;
            margin-top: 5%;
          }
          .input{
            box-shadow:1px 1px 5px  rgb(105, 105, 255) ;
            border-color:  rgb(105, 105, 255);
            margin-left: 11%;
            margin-top: 3%;
            width: 16%;
            height: 40px;
          }
          
         .input2{
          box-shadow:1px 1px 5px  rgb(105, 105, 255) ;
          border-color:  rgb(105, 105, 255);
          margin-top: 3%;
          margin-left: 11%;
          width: 16%;
          height: 40px;
          color: black;
         }
         #enviar {
         
          margin-top: 4%;
          margin-left: 11%;
         }
         h2{
          color: rgb(83, 83, 255) ;
          margin-left: 40%;
          margin-top: -41%;
          text-decoration: overline 5px rgb(218, 143, 3) ;
         }
         #h22{
          color: rgb(83, 83, 255) ;
          margin-left: 67%;
          margin-top: -44%;
          text-decoration: overline 5px rgb(218, 143, 3) ;
         }
        footer > ul{
          margin-left:39% ;
          margin-top:3% ;
          
        }
        footer > ul > li{
          list-style: none;
          margin-bottom: 4%;
        }
        footer > ul > li>a{
          text-decoration: none;
          font-size: 1.5em;
          color: rgb(83, 83, 255);
        }
        footer > ul > li>a>i{
          color: rebeccapurple;
          padding-right: 1.4%;
        }
         #lista2 a:hover , ul>li>a:hover{
          text-decoration: underline;
       
        #lista2{
             margin-left: 66%;
             
             
        }
        #lista2 > li{
          margin-bottom: 7%;
        }
        #icones{
          margin-left: 70%;
          font-size: 200%;
          margin-right: 5%;
        }
       
        
        #logofinal{
          height: 100px;
          width: 100px;
          margin-left: 80%;
          margin-top: -5%;
        }
