

*{
    margin:0; 
}
header{
    height:300px;
    border:1px solid red;
}

.content{
    background-color: rgb(169, 169, 169);
    width:1100px;
    margin:0 auto;
    border:1px solid blue
}
header .links ul{
    display:flex;
    
}
.topo{
  
    font-size:23px;
}
#tel{
    color: rgb(54, 54, 255);
}
header .links li{
    list-style:none;
    margin:10px 15px ;
    padding-right: 20px;

}


header .topo{
    display:flex;
    justify-content: space-between;
}
header a{
    color:rgb(22, 165, 248);
    text-decoration:none;
}
.teste{
    color:rgb(255, 186, 57);
}
.buscar{
    color:blue;
    margin-left:18px;
    margin-top:10px;
}
.code a{
    color:rgb(25, 25, 233);
}
header .code{
    
    display:flex;
    font-size:20px;
    padding-right:3px;
    list-style:none;
    justify-content:space-between;
    margin-top:-180px;
    margin-left:292px;
    
}
ul{
    flex-direction: wrap;
}
div.conteiner{
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: -1px -1px 5px white;
    width: 620px;
    margin-left: 606px;
    margin-top: -108px;
    border-radius: 20px 20px 0 0 ;
    

  
}
#ef{
    color: rgb(68, 68, 190);
}
#em{
    color: rgb(16, 184, 184);
}
div.conteiner>img{
    padding-top: 10px;
    padding-bottom: 10px;
}
div.conteiner> a{
    font-weight: lighter;
    font-size: 19px;
    
    padding-bottom: 20px;
    padding-left: 10px;
    
    
    
}
